<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light" routerLink="/">Shashank Varshney</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <i class="bi bi-list text-light"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#profile">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#edu">Education</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#skill">Abilities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#project">Project</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#footer">Contact</a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section id="top">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                Hello I am
                <h1>Shashank Varshney</h1>
            </div>
        </div>
    </div>
</section>


<section id="profile">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Profile</h1>
                <h3>MERN Stack Developer and Android Developer</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3 class="ps-1">About Me</h3>
                <p class="pt-2 ps-1">I am a Mern Stack Developer and Android Developer who lives in Jaipur.I'm a forever learner with academic foundation in Informartion Technology Engineering.I constantly keep myself updated with latest design and technology.</p>
            </div>
            <div class="col-md-4">
                <img [src]="imageUrl" alt="" class="mx-auto d-block">
            </div>
            <div class="col-md-4">
                <h3>Details</h3>
                <p>Name:{{userName}}</p>
                <p>Age:21</p>
                <p>Email:{{email}}</p>
                
            </div>
        </div>
    </div>
</section>

<section id="edu">
    
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h1>Education</h1>
                    <p class="mt-2 mb-2 fs-4">Education is the most powerful weapon which you use to change the world</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <table class="table table-hover">
                    <tr>
                        <td *ngFor="let item of education" class="fs-6 text-white ps-3 pb-3">{{item.college[0]}}
                            <br>
                            {{item.year[0]}}
                        </td>
                    <td *ngFor="let item of education" class="fs-6 text-white ps-3 pb-3">Course:{{item.course[0]}}
                        <br>
                        CGPA:{{item.marks[0]}}
                    </td>
                    </tr>
                    <tr>
                        <td *ngFor="let item of education" class="fs-6 text-white ps-3 pb-3">{{item.college[1]}}
                            <br>
                            {{item.year[1]}}
                        </td>
                    <td *ngFor="let item of education" class="fs-6 text-white ps-3 pb-3">Course:{{item.course[1]}}
                        <br>
                        CGPA:{{item.marks[1]}}
                    </td>
                    </tr>
                    <tr>
                        <td *ngFor="let item of education" class="fs-6 text-white ps-3 pb-3">{{item.college[1]}}
                            <br>
                            {{item.year[2]}}
                        </td>
                    <td *ngFor="let item of education" class="fs-6 text-white ps-3 pb-3">Course:{{item.course[2]}}
                        <br>
                        CGPA:{{item.marks[2]}}
                    </td>
                    </tr>

                </table>
                
            </div>
            <!-- <div class="col-md-6">
                <p class="fs-4 text-end">2019-23</p>
                <p class="fs-4 text-end">2019-23</p>
                <p class="fs-4 text-end">2019-23</p>
            </div> -->
        </div>
    </div>
</section>


<section id="skill">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Abilities</h1>
                <h3>"Life without knowledge is death in disguise"</h3>
            </div>
            <hr>
        </div>
        <div class="row">
            <h2>Skills</h2>
            <div class="col-md-6">
                <ul>
                    <li *ngFor="let item of skills" class="fs-6">Frontend:{{item.frontend}}</li>
                    <li *ngFor="let item of skills" class="fs-6">Server:{{item.backend}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li *ngFor="let item of skills" class="fs-6">Programming:{{item.programming}}</li>
                    <li *ngFor="let item of skills" class="fs-6">Database:{{item.database}}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <h2>Language</h2>
            <div class="col-md-6">
                <li *ngFor="let item of skills" class="fs-5">{{item.lang[0]}}</li>
            </div>
            <div class="col-md-6">
                <li *ngFor="let item of skills" class="fs-5">{{item.lang[1]}}</li>
            </div>
        </div>
        <hr>
        <div class="row">
            <h2>Tools</h2>
            <div class="col-md-6">
                <li *ngFor="let item of skills" class="fs-6">{{item.tools.slice(0,1)}}</li>
                <li *ngFor="let item of skills" class="fs-6">{{item.tools.slice(1,2)}}</li>
                <li *ngFor="let item of skills" class="fs-6">{{item.tools.slice(2,3)}}</li>
            </div>
            <div class="col-md-6">
                <li *ngFor="let item of skills" class="fs-6">{{item.tools.slice(3,4)}}</li>
                <li *ngFor="let item of skills" class="fs-6">{{item.tools.slice(4,5)}}</li>
                <li *ngFor="let item of skills" class="fs-6">{{item.tools.slice(5,6)}}</li>
            </div>
        </div>
    </div>
</section>

<section id="project">
    <div class="container">
        <div class="row text-center">
            <col class="col-md-12">
            <h1>Projects</h1>
            <h3>"Let our advance worrying become advance thinking and planning."</h3>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 bg-light text-dark me-1">
                
            
                    <h2>Food Chef</h2>
                    <h4>HTML CSS JS</h4>
                    <p class="ps-2">Food Resturant template made using HTML,CSS and JS.It is basic Frontend</p>
                    <a href="#" class="btn btn-primary me-2 ms-2 mb-2">HTML</a>
                    <a href="#" class="btn btn-primary me-2 ms-2 mb-2">CSS</a>
                    <a href="#" class="btn btn-primary me-2 ms-2 mb-2">JS</a>
                    <a [href]="projectLink1" class="btn btn-success me-2 ms-2 mb-2">Explore</a>
                

            </div>
            <div class="col-md-4 text-dark bg-light me-1">
                
                    <h2 class="ps-2">eShop</h2>
                    <h4 class="ps-2">MERN Stack Project</h4>
                    <p class="ps-2">eShop is Ecommerce Website built using MERN stack and Rest API</p>
                    <a href="#" class="btn btn-primary ms-2 me-2 mb-2">MERN</a>
                    <a href="#" class="btn btn-primary me-2 ms-2 mb-2">Rest API</a>
                    <a [href]="projectLink2" class="btn btn-success me-2 ms-2 mb-2">Explore</a>
                
            </div>
            <div class="col-md-3 bg-light text-dark me-1">
                
                    <h2 class="ps-2">Fresh Vegitables</h2>
                    <h4 class="ps-2">PHP Project</h4>
                    <p class="ps-1">Fresh Vegitable is an Ecommerce Website built using PHP..</p>
                    <a href="#" class="btn btn-primary me-2 ms-2 mb-2">PHP</a>
                    <a href="#" class="btn btn-primary me-2 ms-2 mb-2">MYSQL</a>
                    <a [href]="projectLink3" class="btn btn-success me-2 ms-2 mb-2">Explore</a>
                
            </div>
        </div>
    </div>
    
    
</section>
<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Contact</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <form action="" method="get">
                    <input type="email" name="" id="" placeholder="Enter your email" class="form-control">
                    <textarea name="" id="" placeholder="Enter Query" class="form-control mt-2 mb-2"></textarea>
                    <button type="submit" class="btn btn-success form control">Submit</button>

                </form>
            </div>
            <div class="col-md-4">
                <p class="text-center fs-3">Shashank Varshney</p>
                <p class="text-center fs-4">MERN Stack Developer and Android Developer</p>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://www.linkedin.com/in/shashank-varshney-86sh001/"><i class="bi bi-linkedin fs-2"></i></a>
                <a href="https://github.com/Shashank152001"><i class="bi bi-github fs-2 ms-4"></i></a>
                <h4 class="text-start">Mail</h4>
                <p class="text-start">{{email}}</p>
                <h4 class="text-start">Moblie</h4>
                <p class="text-start">{{mobile}}</p>
            </div>
        </div>
    </div>
</section>
<section id="footer1">
    <div class="contanier">
        <div class="row text-center">
            <div class="col-md-12">
                <h4>All right reserved@Shashank Varshney 2022.</h4>
            </div>
        </div>
    </div>

</section>