#edu{
    background: linear-gradient(to right,rgb(42, 72, 161),rgb(8, 24, 113));
    /* padding: 10px 0px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    color: white;
}
#edu table tr{
    margin:10px;
}